html
{
    font-family: 'Cairo', sans-serif !important;
}
body
{
    font-family: 'Cairo', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 
{
    font-family: 'Cairo', sans-serif !important;
}
li
{
  font-family: 'Cairo', sans-serif !important;
}
/*------------------*/
  .square_radio
  {    
    -webkit-appearance: none;    
    border:2px solid #000;
    height:25px;
    width:25px;
    margin-right:15px;
    padding:5px;      
  }
  
 /*::::::::: start dashboard css::::::::::: */
.dash-div
{
  border:1px solid #F8694A;
  padding:10px;
  margin:5px;
}
.dash-div:hover
{
  color:#F8694A;
  border:1px solid #000;
}
.dash-div:hover h4
{
  color:#F8694A;
}
.consumer-menu
{
  font-size:20px;
}
.consumer-menu li
{
  margin-bottom: 5px;
}
 /*::::::::: end dashboard css::::::::::: */

 .account-nav .account-list>li {
  display: inline-block;
}

.account-nav .account-list>li>a {
  display: block;
  padding: 15px;
  color: #FFF;
  text-transform: uppercase;
}

.account-nav .account-list>li>a:hover, .account-nav .account-list>li>a:focus, .account-nav .account-list>li.dropdown.open>a {
  color: #F8694A;
}

.account-nav .account-list, .account-nav .account-list {
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 100px);
}
.account-nav .account-list.open, .account-nav .account-list.open {
  display: block;    
}

.account-nav .account-list {
  float: none;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
}

.account-nav .account-list>li {
  display: block;
}

.account-nav .account-list>li+li {
  border-top: 1px solid #DADADA;
}
.account-nav .account-list>li>a {
  color: #30323A;
}

.account-nav .account-list, .account-nav .account-list {
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 100px);
}
.account-nav .account-list.open, .account-nav .account-list.open {
  display: block;    
}
.account-nav .account-header, .account-nav .category-header {
  cursor: pointer;
}

.account-nav .account-header {
  display: none;
  padding: 15px;
  text-transform: uppercase;
  background: #04da32;
  color: #FFF;
  font-weight: 700;
}

.account-nav .account-header>i {
  float: right;
  line-height: 20px;
}

.account-nav .account-header, .account-nav .category-header {
  cursor: pointer;
}

.account-nav .account-header {
  display: block;
}
 /*::::::::::::start media screen:::::::::*/ 
 @media only screen and (max-width: 991px) {
  /**/
  /* .icon-btn.main-btn, .icon-btn.primary-btn  */
  .menu-btn
  {
    position:absolute;
    left:5px;
  }
  /**/
  #responsive-nav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 270px;
    width: 0%;
    overflow: hidden;
    background-color: #FFF;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    z-index: 9999999;
  }
  .dropdown-backdrop
  {
    z-index:1;
  }

 }
 /*::::::::::::end media screen:::::::::*/